* {
  box-sizing: border-box;
}

.navbar {
  background-color: #375572;
  margin: 0 auto;
  width: 100%;
  height: 80px;
  display: block;
}

.navbar-items {
  margin: 0 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  vertical-align: center;
  top: 30px;
  position: relative;
}

.map {
  margin: 0 auto;
  height: 300px;
  width: 100%;
}

.list {
  background-color: #293845;
  margin: 0 auto;
  width: 100%;
  height: 300px;
  overflow: scroll;
}

.direction-container {
  padding-top: 20px;
  padding-bottom: 15px;
  border-bottom: 2px solid #fff;
}

.bus-stop {
  display: flex;
}

.bus-text{
  width: 80%;
  line-height: 18px;
  padding: 10px 0px;
}

.arrow {
  margin: 22px;
  }

.bottombar {
  background-color: #375572;
  height: 80px;
  margin: 0 auto;
  background-image: url('../images/bottom.png');
  background-repeat: no-repeat;
  background-position: center;
}

.iphonescreen {
  height: 812px;
  width: 375px;
  margin: 0 auto;
}

h1 {
  font-family: "SF Pro Text";
  font-size: 20px;
  color: white;
  text-align: center;
}

.direction {
  font-family: "SF Pro Text";
  color: white;
  text-decoration: underline;
  font-size: 18px;
  text-align:left;
  padding-left: 25px;
}

.direction1 {
  font-family: "SF Pro Text";
  color: red;
  text-decoration: underline;
  font-size: 18px;
  text-align:left;
  padding-left: 25px;
}

.direction2 {
  font-family: "SF Pro Text";
  color: gray;
  text-decoration: underline;
  font-size: 18px;
  text-align:left;
  padding-left: 25px;
}

h2, h3 {
  font-family: "SF Pro Text";
  color: white;
  font-size: 16px;
  text-align:left;
  padding-left: 25px;
}

 h4 {
  font-family: "SF Pro Text";
  color: white;
  font-size: 12px;
  font-style: italic;
  text-align:left;
  padding-bottom: 10px;
  padding-left: 25px;
}
